@{
    ViewData["Title"] = "Test Index";
}
@using mvcMovie.Models
@model IEnumerable<User>

@*<form asp-controller="Test" asp-action="Create" method="post">  </form>*@

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.ID) </th>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <th>@Html.DisplayNameFor(m => m.Password)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem=>item.ID)</td>
            <td>@Html.DisplayFor(modelItem=>item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Password)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>